<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" thread-count="2" parallel="methods" preserve-order="true" name="C:/Users/Sreej/IdeaProjects/AppiumPractice">
        <classes>
            <class name="com.tests.ParallelTestingInBrowserstack">
                <methods>
                    <include name="runTestInBS1"/>
                    <include name="runTestInBS2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>